@use "../../src/scss/industry-badge";


.case-study-archive-filter {
	.btn {
		min-height: 2rem;
	}
}

.case-study-archive-results {
	position: relative;
}

.edu-craft-csa-card__image-link {
	display: block;
	max-height: 220px;
}
