.case-study-archive-results {
	position: relative;
}

.edu-craft-csa-card__image-link {
	display: block;
	max-height: 220px;
}


.edu-craft-csa-card .cs-industry-badge {
	position: relative;
	z-index: 2;
}
